/* url for fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
    flex-direction: column;
    position: relative;
  }
  .main p{
    position: absolute;
    color: #fff;
    z-index: 2;
    opacity: 0.1;
  }
  .game-name h2{
    margin: 10px;
    color:#673AB7;
    font-weight: 600;
  }
  

  .wrapper{
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .game-details{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
  }
  .player-name{
    color: #fff;
    margin: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

  }
  .play-board{
    width: 100%;
    height: 100%;
    background: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);

  }
  .play-board .food{
    background: red;
  }
  
.play-board .head:nth-child(2){
    background:cyan;
     }

  .play-board .head{
    background:#999;
  }

  .controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;

  }
  
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1.3rem;
  }
}
  footer h4{
    color: #0051ff;
    font-weight: 600;
    margin: 10px;
  }
